h1 {
  text-align: center;
  letter-spacing: .5em;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;

}

img.align-center {
  display: block;
  margin: 10px auto;
}
