h1 {
  text-align: center;
  letter-spacing: .5em;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #efefef;
}

img.align-center {
  display: block;
  margin: 10px auto;
}

.aboutme {
  margin: 25px auto 25px auto;
  width: 90%;
  border: 3px solid black;
  padding: 4px;
  background-color: #efefef;
}

h3 {
  margin-left: 10%;
}

h4 {
  text-align: center;
  letter-spacing: .5em;
  font-size: 25px;
  margin-top: 30px;
}

p {
  width: 90%;
}
.lefties {
  float: left;
  margin-left: 10%;
  margin-right: 5px;
}

.top {
  margin-top: 50px;
}
